<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Lab 13</title>
</head>
<body>
<div class="page">
    <header>
	    <div class="headertext">
            <a style="font-weight: bold">Backend1</a>
            <a href="/" style="margin-left: 20px;">Home</a>
			<a href="/" class="mockups" style="margin-left: 20px;">Mockups</a>
		</div>
    </header>

    <div class="center">
        <h2 class="links-h2">Mockups</h2>
        <ul>
            <li><a href="/Mockups/Quiz?type=Quiz">Quiz</a></li>
            <li><a href="/Mockups/Quiz?type=QuizResult">QuizResult</a></li>
        </ul>

    </div>
    <div class="underscore"> </div>

    <footer><p>© 2025 - Backend3</p></footer>

</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>