* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    font-family: Arial;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
    align-items: left;
    justify-content: top;
}

.calculator {
    border: 5px solid #87adff;
    padding: 15px;
    max-width: 320px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculatorInput input {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: 24px;
    padding: 10px;
}

.calculatorBtns {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.calculatorBtn {
    font-size: 20px;
    border-radius: 0px;
    border: 1px solid darkgray;
}

.calculatorBtn:nth-child(15) {
    grid-column: 5;
    grid-row: 3 / 5;
}

.calculatorBtn:nth-child(16) {
    grid-column: 1 / 3;
}