* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
	justify-content: center; 
}

.content {
	margin-top:20px;
    padding:0px;
    text-align: center;
    width:600px;
    color: black;
}

.content2 {
	margin-top:20px;
    padding:20px;
    text-align: center;
    width:600px;
    color: black;
	border: 8px solid blue;
}

.container {
    display: flex;
	flex-direction: column;
	align-items: center;
}