*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.content{
    border: 1px solid forestgreen;
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 14px;
}

.spisok{
    background-color: aqua;
    width: 25%;
    flex: 1 1 auto;
}

.spisok ul {
    background-color: bisque;
    padding: 10px 10px 10px 40px;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    background-color: darkgray;
    flex: 1 1 auto;
}

.textimg img{
    float: right;
    width: 50%;
}
